:root.theme-light {
  --background-image: url('../images/cover-image-light.png');

  --color-accent: #FF8DCB;
  --color-heading: #ffc2e6;
  --color-light: #353430;
  --color-dark: #353430;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  --color-bg: #fff1f7;
  --color-menu-decor: #353430;

  .header__decor {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');

    --color-accent: #FF8DCB;
    --color-heading: #ffc2e6;
    --color-light: #353430;
    --color-dark: #353430;
    --color-button-hover: rgba(50, 49, 45, 0.4);
    --color-bg: #fff1f7;
    --color-menu-decor: #353430;

    .header__decor {
      display: none;
    }
  }
}