:root.theme-light {
  --background-image: url('../images/cover-image-light.png');

  --color-accent: #FF8DCB;
  --color-heading: #ffc2e6;
  --color-light: #353430;
  --color-dark: #353430;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  
  .decorated-zone {
    color: var(--color-dark);
  }

  .header__decor {
    display: none;
  }

  .section__title {
    color: var(--color-dark);
  }

  .header__theme-menu-button {
    color: var(--color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');

    --color-accent: #FF8DCB;
    --color-heading: #ffc2e6;
    --color-light: #353430;
    --color-dark: #353430;
    --color-button-hover: rgba(50, 49, 45, 0.4);

    .decorated-zone {
      color: var(--color-dark);
    }

    .header__decor {
      display: none;
    }

    .section__title {
      color: var(--color-dark);
    }

    .header__theme-menu-button {
      color: var(--color-dark);
    }
  }
}