/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image: url('../images/cover-image-light.png');

  --color-accent: #FF8DCB;
  --color-heading: #ffc2e6;
  --color-light: #353430;
  --color-dark: #353430;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  

  .decorated-zone {
    color: var(--color-dark);
  }

  .header__decor {
    display: none;
  }

  .section__title {
    color: var(--color-dark);
  }

  .header__theme-menu-button {
    color: var(--color-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --background-image: url('../images/cover-image-light.png');

    --color-accent: #FF8DCB;
    --color-heading: #ffc2e6;
    --color-light: #353430;
    --color-dark: #353430;
    --color-button-hover: rgba(50, 49, 45, 0.4);

    .decorated-zone {
      color: var(--color-dark);
    }

    .header__decor {
      display: none;
    }

    .section__title {
      color: var(--color-dark);
    }

    .header__theme-menu-button {
      color: var(--color-dark);
    }
  }
}