:root {
  --background-image: url('../images/cover-image-dark.png');

  --color-accent: #ff0070;
  --color-heading: #db00ff;
  --color-light: #f1b2ce;
  --color-dark: #000028;
  --color-button-hover: rgba(255, 0, 112, 0.4);

  --section-padding-block: 25px;
  --section-padding-inline: 10px;
  --main-margin-block: 15px;
}

